* {
  /* overflow-x:hidden; */
  font-family: "Ubuntu", sans-serif;
  font-weight:400;
  margin:0;
  padding:0;
  .bm-burger-button {
    z-index: 1000;
  }
}


.active {
  a {
    color: #DAA520!important;
    text-decoration: underline !important;
    font-weight: bold !important;

  }
}



@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {

  animation: slideInFromRight 0.3s ease-out forwards;
}

.slide-in-left {
  animation: slideInFromLeft 0.3s ease-out forwards;
}





/* TEST */

